{% extends "parent.html" %}
{% load static%}
{%block main %}
<div class="row m-0 p-0">
    
       
        <div class="col-sm-4" style="background-color:white;min-height:500px;">
            <button class="btn btn-danger" style="margin:55px 0px 0px 80px; font-size:30px;">Chanchellor's Message</button>
            <img src={% static 'images/cc.jpg'%}/ style="height:400px;min-width:330px; margin:15px 0px 0px 70px; border:2px solid red; position:relative;border-radius:5px;">
            <div class="block" style="min-height:200px; width:250px;background-color:white;margin:25px 0px 0px 105px;border:1px solid white;position:inherit;box-shadow:inset 10px 20px 30px grey ">
                <h1 style="text-align:center;color:red;">Chancellor</h1>
                <span><h3 style="text-align:center;">Shri Rajendra Vishwanath Arlekar</h3></span></br>
                <a href="#" class="btn btn-danger" style="min-width:250px;">Know More</a>
            </div>
            <div class="space" style="height:100px; width:250px;background-color:white;"></div>



        </div>
        <div class="col-sm-4"style="background-color:white;min-height:500px;">
            <button class="btn btn-danger" style="margin:55px 0px 0px 10px; font-size:30px;">Vice Chanchellor's Message</button>
            <img src={% static 'images/vc.jpg'%}/ style="height:400px;min-width:330px; margin:15px 0px 0px 30px; border:2px solid red; position:relative;border-radius:5px;">
            <div class="block" style="min-height:200px; width:300px;background-color:white;margin:25px 0px 0px 55px;border:1px solid white;position:inherit;box-shadow:inset 10px 20px 30px grey ">
                <h1 style="text-align:center;color:red;">Vice Chancellor</h1>
                <span><h3 style="text-align:center;">Prof. (Dr.) Jawahar Lal</h3></span></br>
                <a href="#" class="btn btn-danger" style="min-width:300px; margin-top:35px;">Know More</a>
            </div>
            <div class="space" style="height:100px; width:250px;background-color:white;"></div>


        </div>
        <div class="col-sm-4"style="background-color:white;min-height:500px;">
            <button class="btn btn-danger" style="margin:55px 0px 0px 0px;text-align:left;font-size:25px;">Pro Vice Chanchellor's Message</button>
            <img src={% static 'images/pvc.jpeg'%}/ style="height:400px;min-width:330px; margin:15px 0px 0px 30px; border:2px solid red; position:relative;border-radius:5px;">
            <div class="block" style="min-height:200px; width:300px;background-color:white;margin:25px 0px 0px 45px;border:1px solid white;position:inherit;box-shadow:inset 10px 20px 30px grey ">
                <h1 style="text-align:center; color:red;">Pro Vice Chancellor</h1>
                <span><h3 style="text-align:center;">Prof. Ramesh Kumar</h3></span></br>
                <a href="#" class="btn btn-danger" style="min-width:300px;">Know More</a>
            </div>
            <div class="space" style="height:100px; width:250px;background-color:white;"></div>


        </div>
        <div class="col-sm-12" style="background-color:white;">
               <h4 style="color:red;margin-left:55px;">About Us</h4>
               <h1 style="margin-left:55px;">Tilka Manjhi Bhagalpur University</h1>
               <p style="margin-left:55px;font-size:25px;">The Tilka Manjhi Bhagalpur University, also known as Bhagalpur University,
                 is a premier institution for providing higher education in the state of Bihar.
                  The university is situated in Bhagalpur town of Bihar State in India and is named after famous freedom fighter
                   Tilka Manjhi. Established on 12 July 1960, it is a public university sprawled within 264 acres of lush green 
                   campus ideal for teaching and learning. The university has 6 Faculties, 34 Teaching Departments, 
                5 Research Centres and 12 Constituent Colleges, besides affiliated to it 11 Colleges and 14 B.Ed. Colleges.</p>
                <button class="btn btn-danger" style="margin-left:55px;"><a href="#" style="color:white;text-decoration:none;">Read More</a></button>
                 <div class="box" style="height:100px;min-width:800px; background-color:white;"></div>
        </div>
    
</div>
{%endblock main%}